
.pagination {
    display: inline-block;
    margin-top:100px;
    margin-left:100px;
    width:800px;
    /* border:2px solid black; */
  }
  
  .pagination a {
    color: black;
    height:30px;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color .3s;
    border: 2px solid green;
    border-radius: 5px;
  } 
  
  .pagination a.active {
    background-color: purple;
    color: white;
    /* border: 2px solid black; */
  }
  
  .pagination a:hover:not(.active) {
    background-color: rgb(213, 39, 68);
    color:white;
    font-size:16px;
    font-family: 'roboto',sans-serif;
    /* border:2px solid black; */
}

.pagination a{
  margin-left:10px;
}