$bg-1: white;
$bg-2: rgb(230, 123, 52);
$bg-3: green;

$h-1: 50px;
$h-2: 600px;
$h-3: 700px;
$h-4: 800px;
$h-5: 1200px;
$h-6: 20px;

$w-1: 700px;
$w-2: 800px;
$w-3: 900px;
$w-4: 1000px;
$w-5: 1300px;
$w-6: 30px;

$flex: flex;
$justify-between: space-between;
$justify-center: center;
$justify-around: space-around;
$justify-evenly: space-evenly;

nav {
    display: flex;
    justify-content: space-between;
    background-color: orange;

}
nav ul {
    display: flex;
    list-style-type: none;
    background-color: orange;
}
nav ul li {
    margin-right: auto;
    
}
nav ul li a {
    text-decoration: none;
}
.ticket-img {
    color: white;
    padding: 10px;
}
.img-1 {
  height:20px;
  padding:10px;
  color:black;
}
li {
    color: rgb(230, 159, 52);
    
}
nav ul li a {
    color: black;
}
.ticket-img {
    background-color: $bg-2;
    
}
.ticket-img img {
   height:20px;

}

.bg-img-1 {
   display: flex;
    height:200px;
    background-image: url(../page-title-bg.jpg);
    justify-content: center;
    align-items: center;
}

.img-text {
   text-align: center;
    line-height: 10px;
    color:#fff;
}

.img-text span {
   font-size: 30px;
}
.container {
    background-color: rgb(244, 240, 240);
    width: 1000px;
    margin: auto;
  }
  .sponser {
    display: flex;
    justify-content: center;
    text-align: center;
    line-height: 10px;
    margin: 30px;
  } 
  .text {
    display: block;

  }
  .text p {
    opacity: 0.8;
    font-family: 'roboto',sans-serif;
  }
  
.form {
    width: 1000px;
  }
  
  input text {
    margin: auto;
  }
  
  .button {
    display: flex;
    justify-content: center;
    margin-top: 30px;
  }
  
  button {
    border: 0;
    background-color: rgb(240, 113, 44);
    padding-inline: 20px;
    padding-block: 10px;
    color: white;
  }
