<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    </head>
<body class="bg-secondary bg-opacity-10">
    <form>
        <div class="header mt-5"style="margin-top:10px;margin-left:400px;">
            <h1>Horizon UI Inputs</h1>
          <div class="conatiner">
        <div class="mb-3 col-lg-4"style="margin-top:20px;margin-left:10px;">
          <label for="exampleInputEmail1" class="form-label"style="font-weight:700;font-size:16px;">Default</label>
          <input type="name" class="form-control" id="exampleInputEmail1"placeholder="@horizon.ui" aria-describedby="emailHelp">
          <div id="nameHelp" class="form-text"></div>
        </div>
        <div class="mb-3 col-lg-4"style="margin-top:20px;margin-left:10px;">
          <label for="exampleInputPassword1" class="form-label"style="font-weight:700;font-size:16px;">Success</label>
          <input type="successInput text-success;" class="form-control"style="border:2px solid green;color:green;" id="exampleInputPassword1"placeholder="Success input">
        </div>
        <div class="mb-3 col-lg-4"style="margin-top:20px;margin-left:10px;">
          <!-- <button type="button" class="btn btn-outline-danger"></button> -->
            <label for="exampleInputPassword1 text-success" class="form-label"style="font-weight:700;font-size:16px;">Error</label>
            <input type="error btn btn-outline-danger"style=";border:2px solid red;" class="form-control text-danger" id="exampleInputerror1"placeholder="Error input">
            <!-- <button type="button" class="btn btn-outline-danger"></button> -->
          </div>

          <div class="mb-3 col-lg-4"style="margin-top:20px;margin-left:10px;">
            <label for="exampleInputdisabled1" class="form-label"style="font-weight:700;font-size:16px;">Disabled</label>
            <input type="disabled" class="form-control" id="exampleInputdisabled1"placeholder="@horizon.ui">
          </div>
         
        </div>
        </div>
      </form>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>
</html>