<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@700;900&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css" integrity="sha512-DTOQO9RWCH3ppGqcWaEA1BIZOC6xxalwEsw9c2QQeAIftl+Vegovlnee1c9QX4TctnWMn13TZye+giMm8e2LwA==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/css/bootstrap.min.css" rel="stylesheet"
    integrity="sha384-T3c6CoIi6uLrA9TneNEoa7RxnatzjcDSCmG1MXxSR1GAsXEV/Dwwykc2MPK8M2HN" crossorigin="anonymous">
    
</head>
<body class="bg-light">
    <div class="container">
       <div class="card" style="width: 25rem;border-radius:30px;margin-top:100px;margin-left:200px;">
       
        <div class="card-body">
            <h5 class="texts"style="font-size:32px;font-weight:500px;font-family:'Roboto',sans-serif;margin-top:20px;">Notifications</h5>
            <button type="button text-primary" class="btn" aria-label="close"style="margin-left:300px;margin-top:-80px;"><i class="fa-solid fa-ellipsis fa-2x text-primary"></i></button> 

            <div class="form-check form-switch">
            <input class="form-check-input " type="checkbox" role="switch" id="flexSwitchCheckDefault"style="margin-top:20px;">
            <label class="form-check-label" for="flexSwitchCheckDefault"style="font-size:16px;font-weight:500;margin-top:15px;margin-left:10px;">Item comment notifications</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"style="margin-top:20px;">
            <label class="form-check-label" for="flexSwitchCheckDefault"style="font-size:16px;font-weight:500;margin-top:15px;margin-left:10px;">Buyer review notifications</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"style="margin-top:20px;">
            <label class="form-check-label" for="flexSwitchCheckDefault"style="font-size:16px;font-weight:500;margin-top:15px;margin-left:10px;">Rating reminders notifications</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"style="margin-top:20px;">
            <label class="form-check-label" for="flexSwitchCheckDefault"style="font-size:16px;font-weight:500;margin-top:15px;margin-left:10px;">Meetups near you notifications</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"style="margin-top:20px;">
            <label class="form-check-label" for="flexSwitchCheckDefault"style="font-size:16px;font-weight:500;margin-top:15px;margin-left:10px;">Company news notifications</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"style="margin-top:20px;">
            <label class="form-check-label" for="flexSwitchCheckDefault"style="font-size:16px;font-weight:500;margin-top:15px;margin-left:10px;">New launches and Projects</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"style="margin-top:20px;">
            <label class="form-check-label" for="flexSwitchCheckDefault"style="font-size:16px;font-weight:500;margin-top:15px;margin-left:10px;">Monthly Product changes</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"style="margin-top:20px;">
            <label class="form-check-label" for="flexSwitchCheckDefault"style="font-size:16px;font-weight:500;margin-top:15px;margin-left:10px;">Subscribe to newsletter</label>
          </div>
          <div class="form-check form-switch">
            <input class="form-check-input" type="checkbox" role="switch" id="flexSwitchCheckDefault"style="margin-top:20px;">
            <label class="form-check-label" for="flexSwitchCheckDefault"style="font-size:16px;font-weight:500;margin-top:15px;margin-left:10px;">Email me When someone follows me</label>
          </div>
              
          <!-- <h5 class="card-title">Item comment notifications</h5>
          <h5 class="card-title">Buyer review notifications</h5>
          <h5 class="card-title">Rating reminders notifications</h5>
          <h5 class="card-title">Meetups near you notifications</h5>
          <h5 class="card-title">Company news notifications</h5>
          <h5 class="card-title">New launches and Projects</h5>
          <h5 class="card-title">Monthly Product changes</h5>
          <h5 class="card-title">Subscribe to newsletter</h5>
          <h5 class="card-title">Email me When someone follows me</h5> -->
          
        </div>
        </div>
        </div>
      <!-- </div>
    <div class="container">
        <div class="text">
            <h5>Notifications</h5>
    <label class="switch"style="">
        <input type="checkbox">
        <span class="slider"></span>
      </label>
      </div>
      </div> -->
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.2/dist/js/bootstrap.bundle.min.js"
    integrity="sha384-C6RzsynM9kWDrMNeT87bh95OGNyZPhcTNXj1NW7RuBCsyN/o0jlpcV8Qyq46cDfL"
    crossorigin="anonymous"></script>
</body>
</html>